[submodule "part11/part/full-stack-open-pokedex"]
	path = part11/part/full-stack-open-pokedex
	url = https://github.com/joan-kii/full-stack-open-pokedex.git
[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = https://github.com/joan-kii/full-stack-open-pokedex.git
